openapi: 3.0.0
info:
  title: Sentio AI Move API
  description: 'Sentio Open API — REST access to Sentio''s Web3 observability platform: analytics (SQL/metrics/event logs), price data, processors, dashboards, alerts, debugging/simulation (forks), and AI chat. Harvested from Sentio''s published API reference at docs.sentio.xyz/reference.'
  version: '1.0'
  contact:
    name: Sentio
    url: https://www.sentio.xyz
servers:
- url: https://api.sentio.xyz
tags:
- name: Move
paths:
  /v1/move/call_trace:
    get:
      description: Retrieves the detailed call trace for an Aptos transaction
      operationId: GetCallTrace
      parameters:
      - in: query
        name: networkId
        required: false
        schema:
          type: string
      - in: query
        name: txHash
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.api.HttpBody'
      summary: Get Aptos transaction call trace
      tags:
      - Move
  /v1/move/sui_call_trace:
    get:
      description: Retrieves the detailed call trace for a Sui transaction
      operationId: GetSuiCallTrace
      parameters:
      - in: query
        name: networkId
        required: false
        schema:
          type: string
      - in: query
        name: txDigest
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_service.GetSuiCallTraceResponse'
      summary: Get Sui transaction call trace
      tags:
      - Move
components:
  schemas:
    move_service.SuiCallTrace:
      properties:
        calls:
          items:
            $ref: '#/components/schemas/move_service.SuiCallTrace'
          type: array
        contractName:
          type: string
        error:
          $ref: '#/components/schemas/move_service.SuiCallTrace.Error'
        from:
          type: string
        functionName:
          type: string
        gasUsed:
          format: uint64
          type: string
        inputs:
          items: {}
          type: array
        location: {}
        pc:
          format: int64
          type: integer
        returnValue:
          items: {}
          type: array
        to:
          type: string
        typeArgs:
          items:
            type: string
          type: array
      type: object
    google.api.HttpBody:
      properties:
        contentType:
          type: string
        data:
          format: byte
          type: string
        extensions:
          items:
            $ref: '#/components/schemas/google.protobuf.Any'
          type: array
      type: object
    google.protobuf.Any:
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nIn its binary encoding, an `Any` is an ordinary message; but in other wire\nforms like JSON, it has a special encoding. The format of the type URL is\ndescribed on the `type_url` field.\n\nProtobuf APIs provide utilities to interact with `Any` values:\n\n- A 'pack' operation accepts a message and constructs a generic `Any` wrapper\n  around it.\n- An 'unpack' operation reads the content of an `Any` message, either into an\n  existing message or a new one. Unpack operations must check the type of the\n  value they unpack against the declared `type_url`.\n- An 'is' operation decides whether an `Any` contains a message of the given\n  type, i.e. whether it can 'unpack' that type.\n\nThe JSON format representation of an `Any` follows one of these cases:\n\n- For types without special-cased JSON encodings, the JSON format\n  representation of the `Any` is the same as that of the message, with an\n  additional `@type` field which contains the type URL.\n- For types with special-cased JSON encodings (typically called 'well-known'\n  types, listed in https://protobuf.dev/programming-guides/json/#any), the\n  JSON format representation has a key `@type` which contains the type URL\n  and a key `value` which contains the JSON-serialized value.\n\nThe text format representation of an `Any` is like a message with one field\nwhose name is the type URL in brackets. For example, an `Any` containing a\n`foo.Bar` message may be written `[type.googleapis.com/foo.Bar] { a: 2 }`."
      properties:
        '@type':
          description: 'Identifies the type of the serialized Protobuf message with a URI reference

            consisting of a prefix ending in a slash and the fully-qualified type name.


            Example: type.googleapis.com/google.protobuf.StringValue


            This string must contain at least one `/` character, and the content after

            the last `/` must be the fully-qualified name of the type in canonical

            form, without a leading dot. Do not write a scheme on these URI references

            so that clients do not attempt to contact them.


            The prefix is arbitrary and Protobuf implementations are expected to

            simply strip off everything up to and including the last `/` to identify

            the type. `type.googleapis.com/` is a common default prefix that some

            legacy implementations require. This prefix does not indicate the origin of

            the type, and URIs containing it are not expected to respond to any

            requests.


            All type URL strings must be legal URI references with the additional

            restriction (for the text format) that the content of the reference

            must consist only of alphanumeric characters, percent-encoded escapes, and

            characters in the following set (not including the outer backticks):

            `/-.~_!$&()*+,;=`. Despite our allowing percent encodings, implementations

            should not unescape them to prevent confusion with existing parsers. For

            example, `type.googleapis.com%2FFoo` should be rejected.


            In the original design of `Any`, the possibility of launching a type

            resolution service at these type URLs was considered but Protobuf never

            implemented one and considers contacting these URLs to be problematic and

            a potential security issue. Do not attempt to contact type URLs.'
          type: string
      type: object
    move_service.GetSuiCallTraceResponse:
      properties:
        result:
          items:
            $ref: '#/components/schemas/move_service.SuiCallTrace'
          type: array
      type: object
    move_service.SuiCallTrace.Error.ModuleId:
      properties:
        address:
          type: string
        name:
          type: string
      type: object
    move_service.SuiCallTrace.Error:
      properties:
        codeOffset:
          format: int64
          type: integer
        functionName:
          type: string
        location:
          $ref: '#/components/schemas/move_service.SuiCallTrace.Error.ModuleId'
        majorStatus:
          type: string
        message:
          type: string
        subStatus:
          format: uint64
          type: string
      type: object
  securitySchemes:
    ApiKeyHeaderAuth:
      in: header
      name: api-key
      type: apiKey
    ApiKeyQueryAuth:
      in: query
      name: api-key
      type: apiKey
externalDocs:
  description: Sentio API Reference
  url: https://docs.sentio.xyz/reference
